In [4]:
# Import Pandas library
import pandas as pd

# Create a List of Json objects
data = [{'id': 1234, 'name': 'John'}, {'id': 2345, 'name': 'Smith'}]

# Print data
print(data)

[{'id': 1234, 'name': 'John'}, {'id': 2345, 'name': 'Smith'}]

In [5]:
# Create a DataFrame from data with Columns orient
df = pd.DataFrame.from_dict(data, orient='columns')

# Display Dataframe
df

     id   name
0  1234   John
1  2345  Smith